{% extends 'base.html' %}
{% block menu_about %}
    <li class="active"><a href="/about">ABOUT</a></li> {% endblock %}
{% block content %}
    <div class="about-content">
        <div class="container">
            <h2>Something About Me and Blogging</h2>
            <div class="about-section">
                <div class="about-grid">
                    <h3>WHY I STARTED THIS BLOG?</h3>
                    <p>看身边的同学有不少都开了自己的博客，而且身为未来的IT人才，竟然没有自己的技术博客，实在说不过去啦。</p>
                    <p>况且早就有开博客的心思了，只不过一直没时间。而且大三这次寒假时间比较长，于是开始自学python和django，
                        并且决定自己动手用django做一个博客系统，也算是对我假期里学到知识的一点的检验吧。</p>
                </div>
{#                <div class="about-grid2">#}
{#                    <h3>WHY YOU SHOULD READ THIS BLOG?</h3>#}
{#                    <p>写了好久啊，可怜可怜我就看一下啦。是在不想看可以帮我找找bug然后留言给我</p>#}
{#                    <ul>#}
{#                        <li><a>纯天然有机网站，木有广告</a></li>#}
{#                        <li><a>可以帮我刷刷人气</a></li>#}
{#                        <li><a>可以帮我找找bug</a></li>#}
{#                    </ul>#}
{#                </div>#}
                <div class="who-iam">
                    <h3>WHO THE IAM?</h3>
                    <div class="man-info">
                        <p>程序猿兼大学狗一枚。</p>
                        <h4>Some facts about me.</h4>
                        <li>I'm a bachelor(temporary) and I'm pursuing my bachelor's degree at HENU.</li>
                        <li>I'm studying hard to prepare for the postgraduate entrance examination.</li>
                    </div>
{#                    <div class="man-pic">#}
{#                        <img src="" alt=""/>#}
{#                    </div>#}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
	
